<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/form.css}">
</head>
<body>
<div class="wrapper">
    <div th:include="fragments/header"></div>

    <main class="main">
        <form class="form" th:action="@{/user/save}" th:object="${user}" method="post">
<!--            <select class="input-role color-text" required name="roleId" id="roleId">-->
<!--                <option value="">Выберите роль</option>-->
<!--                <option th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.name}"></option>-->
<!--            </select>-->

<!--            <select th:field="*{roles}" multiple="multiple" required>-->
<!--                <option type="checkbox" th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.name}"></option>-->
<!--            </select>-->

<!--            <div>-->
<!--                <li th:each="role : ${roles}" th:required="*{roles}">-->
<!--                    <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:utext="${role.name}"/>-->
<!--                </li>-->
<!--            </div>-->

            <div><input hidden type="number" id="id" th:field="*{id}"/></div>

            <div class="form_group" th:if="${error != null && error == 'roles'}">
                <font color="red">Не выбрана ни одна роль.</font>
            </div>

            <div class="dropdown form_group">
                <button class="dropbtn">Выберите роль</button>
                <div class="dropdown-content">
                    <ul th:each="role : ${roles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:utext="${role.name}"/>
                    </ul>
                </div>
            </div>

            <div class="form_group">
                <font color="red"><p class="form_group" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p></font>
                <input class="form_input" type="text" placeholder="Имя" id="firstName" th:field="*{firstName}"/>
            </div>

            <div class="form_group">
                <font color="red"><p class="form_group" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p></font>
                <input class="form_input" type="text" placeholder="Фамилия" id="lastName" th:field="*{lastName}"/>
            </div>

            <div class="form_group" th:if="${error != null && error == 'email'}">
                <font color="red">Пользователь с такой почтой уже зарегистрирован.</font>
            </div>

            <div class="form_group">
                <font color="red"><p class="form_group" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></font>
                <input class="form_input" type="text" placeholder="Почта" id="email" th:field="*{email}"/>
            </div>

            <div class="form_group">
                <font color="red"><p class="form_group" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p></font>
                <input class="form_input" type="password" placeholder="Пароль" id="password" th:field="*{password}"/>
            </div>

            <div class="form_group"><button>Сохранить</button></div>
        </form>
    </main>

    <div class="info">
        <div><a th:href="@{/user/show}"><button>Назад</button></a></div>
        <div><a th:href="@{/admin}"><button>На главную администратора</button></a></div>
    </div>

    <div th:include="fragments/footer"></div>
</div>
</body>
</html>