<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}">
</head>
<body>
<div class="wrapper">
    <div th:include="fragments/header"></div>

    <main class="main">
        <div class="shift">
            <div class="custom" th:if="${param.finished}">
                <font color="green"><label>Заказ завершен успешно.</label></font> <a th:href="@{/order/show}">×</a>
            </div>
        </div>

        <div class="shift">
            <table>
                <tr>
                    <th>Номер</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                    <th>Дата доставки</th>
                    <th>Стоимость</th>
                    <th>Действия</th>
                </tr>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${order.createDate}"></td>
                    <td th:text="${order.deliveryDate}"></td>
                    <td th:text="${order.totalPrice + ' byn'}"></td>
                    <td style="display: flex; flex-direction: row">
                        <form th:if="${order.orderStatus.name == 'PENDING'}" th:action="@{'/account/order/cancel/' + ${order.id}}" method="get">
                            <button>Завершить</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </main>

    <div class="info" style="display: flex; flex-direction: row; justify-content: center">
        <a th:href="@{'/order/show?status=FINISHED'}"><button>Завершенные</button></a>
        <a style="margin-left: 3%" th:href="@{'/order/show?status=PENDING'}"><button>В работе</button></a>
        <a style="margin-left: 3%" th:href="@{'/order/show?status=CANCELED'}"><button>Отмененные</button></a>
        <a style="margin-left: 3%" th:href="@{/order/show}"><button>Все</button></a>
    </div>

    <div th:include="fragments/footer"></div>
</div>
</body>
</html>