.main {
    display: flex;
    margin: 3% 5% 3% 5%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

.item {
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    border: 3px solid black;
    margin-right: 10px;
    margin-bottom: auto;
    padding: 15px;
}

.item div {
    margin-bottom: 10%;
}

.item div:last-child {
    margin-bottom: 0;
}


.item img {
    height: 200px;
    width: 200px;
}

.menu li {
    list-style: none;
    padding: 10px;
    background: black;
    margin-bottom: 3%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
}

.menu a:hover {
    background: grey;
}